body {
	font-family: "Open Sans", sans-serif;
}
.testimonial-header {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	position: relative;
	margin: 40px 0 40px;
}
.testimonial-header::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #1abc9c;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel .carousel-item {
	color: #999;
	overflow: hidden;
	min-height: 120px;
	font-size: 13px;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
}
.carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial-wrapper {
	padding: 0 10px;
}
.carousel .testimonial {
	color: #808080;
	position: relative;
	padding: 15px;
	background: #f1f1f1;
	border: 1px solid #efefef;
	border-radius: 3px;
	margin-bottom: 15px;
}
.carousel .testimonial::after {
	content: "";
	width: 15px;
	height: 15px;
	display: block;
	background: #f1f1f1;
	border: 1px solid #efefef;
	border-width: 0 0 1px 1px;
	position: absolute;
	bottom: -8px;
	left: 46px;
	transform: rotateZ(-46deg);
}
.carousel .star-rating li {
	padding: 0 2px;
}
.carousel .star-rating i {
	font-size: 16px;
	color: #ffdc12;
}
.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #1abc9c;
}
.carousel .carousel-indicators {
	bottom: -70px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 2px;
	box-sizing: border-box;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
	background: #1abc9c;
	border: 5px double;    
}
.active{
	border-bottom: solid 2px #1abc9c;
	transition: all 0.2s ease;
}
.carousel-Section{
	background-color: #555553;
}
.carousel-Section img{
	height: 70vh;
	object-fit:scale-down;
	filter: brightness(35%);
}
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
  }
  @keyframes slideInDown {
	from {
	  transform: translate3d(0, -100%, 0);
	  visibility: visible;
	}
  
	to {
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .slideInDown {
	animation-name: slideInDown;
  }
  .aboutUs{
	background-image: url("./components/Images/aboutUs.jpg");
	min-height: 140vh;
	background-repeat: no-repeat;
	margin: auto;
  }
  .first-Paragraph{
	width: 45vw;
	padding: 26.5rem 0 0 17rem;
	font-style: italic;
  }
  .card-One, .card-Three{
	background-color: #F8D7D0;
  }
  .card-Two{
	background-color: #8ee9d7;
  }
  .card-One, .card-Three, .card-Two{
	width: 18rem;
	min-height: 25vh;
  }
  ion-icon {
	font-size: 1.2em;
	color: #000;
	padding-right: .5em;
  }
  .card ion-icon{
	font-size: 2rem;
  }
  footer h6{
	color: #1abc9c;
  }
